# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.exe
*.user
*.bak

*.sdf
*.opensdf
*.suo

muncher4
win32/msvc2010/bin
win32/msvc2010/obj
win32/msvc2010/ipch
